@model List<BrouwInventaris.Models.Aankoop>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Naam</th>
            <th>Hoeveelheid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BrouwInventaris.Models.Aankoop item in Model)
{
            <tr>
                <td>@item.Artikel.GetType().Name</td>
                <td>@item.Artikel.Naam</td>
                <td>@item.GetHumanReadableAmount()</td>
            </tr>
           
}
    </tbody>
</table>

