@model List<BrouwInventaris.Models.Artikel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Naam</th>
            <th>Hoeveelheid</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>

        @foreach (var item in Model)
{
            <tr>
                <td>@item.GetType().Name</td>
                <td>@item.Naam</td>
                <td>todo</td>
            </tr>
           
}
    </tbody>
</table>

